        <footer class="blank-card">
            <h2 itemprop="name"> Bee Design Studio</h2>
            <p><em><span itemprop="priceRange">Web Design and Marketing Studio</span></em></p>
            <div itemprop='address' itemscope itemtype='http://schema.org/PostalAddress'>
                <p>Address: <span itemprop='streetAddress'>127 Manchester Road</span>, <span itemprop='addressLocality'>Westhoughton</span>, <span itemprop='addressRegion'>Bolton</span>, <span itemprop='postalCode'>BL5 3LJ</span></p>
            </div>
            <p>tel : <span itemprop="telephone"><a href="tel:07877335841" title="Phone number of Bee Design Studio - Bolton">07877 335841</a></span></p>
            <p class="text-white">email : <a href="mailto:daniel&#64;beedesignstudio.co.uk" itemprop='email' title="Email Address of Bee Design Studio - Bolton">daniel&#64;beedesignstudio.co.uk</a></p>
            <p>Hours: <span>
                    <meta itemprop="openingHours" content="Mo-Fri 8:00-17:00">Mon-Fri 8am - 5pm</span>
            </p>
            <p><a href="https://beedesignstudio.co.uk/privacy" title="Privacy Statement of Bee Design Studio - Bolton">Privacy Statement</a></p>
            <div>
                <a href="https://beedesignstudio.co.uk/contact" class="btn-bee" title="Contact Bee Design Studio - Bolton">Contact Us Now</a>
            </div>
            
        </footer>
