{% extends "base.twig" %}

{% block content %}
    <div class="card" id="daniel-broadhurst">
        <div class="card-header">
            <div>
                <h1>About Us</h1>
                <h2>Daniel Broadhurst</h2>
                <p>I am currently studying for a Computing and IT with Design Degree with The Open Uni. My latest employment news will be on my <a href="https://www.linkedin.com/in/danielbroadhurst-web-design/">LinkedIn Profile</a></p>
                <p>I am a keen cyclist and runner and enjoy spending time with my partner and our tribe of dogs we have aquired.</p>
                <span class="card-icons"><i class="fas fa-laptop"></i>
                    <i class="fas fa-bicycle"></i>
                    <i class="fas fa-running"></i>
                </span>
            </div>

            <div class="tick-list">
                <ul class="list">
                    <li><i class="fas fa-graduation-cap" aria-hidden="true"></i> Computing &amp; IT Degree</li>
                    <li><i class="fas fa-headphones" aria-hidden="true"></i> Multi-Genre DJ</li>
                    <li><i class="fas fa-bicycle" aria-hidden="true"></i> Planet X N2A Aero Road Brike</li>
                    <li><i class="fas fa-running" aria-hidden="true"></i> Fastest 10km - 48:56s</li>
                    <li><i class="fas fa-beer" aria-hidden="true"></i> Cider Drinker</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="card card-small-long" id="web-design">
        <div class="card-header">
            <div>
                <h2>Web Developer</h2>
                <p>Daniel has always been interested in technology and the internet. He has recently begun to learn HTML, CSS and JavaScript to become a Full Stack Web Developer.</p>
                <span class="card-icons"><i class="fab fa-html5 web-circle"></i>
                    <i class="fab fa-css3-alt"></i>
                    <i class="fab fa-js"></i>
                </span>
            </div>

            <div class="tick-list">
                <ul class="list">
                    <li><i class="fas fa-thumbs-up" aria-hidden="true"></i> Responsive Website Design </li>
                    <li><i class="fab fa-wordpress-simple" aria-hidden="true"></i> WordPress Web Design</li>
                    <li><i class="fab fa-google" aria-hidden="true"></i> Analytics &amp; SEO Setup Included</li>
                    <li><i class="fas fa-shopping-basket" aria-hidden="true"></i> Ecommerce Setup</li>
                    <li><i class="fas fa-rocket" aria-hidden="true"></i> Website Design Update</li>
                </ul>
            </div>
        </div>
        <picture>
            <img src="/wp-content/uploads/2019/02/web-design-x2.jpg" alt="">
        </picture>
    </div>
    <div class="card card-small-long" id="dj-broadhurst-about">
        <div class="card-header reverse">
            <div>
                <a href="http://djbroadhurst.co.uk" target="_blank">
                    <h2>Professional DJ</h2>
                </a>
                <p>Daniel still DJ's at the weekends in venues in Bolton, Bury and Manchester. With over 10 years professional experience playing music from a wide range of genres.</p>
                <span class="card-icons"><i class="fas fa-headphones" aria-hidden="true"></i>
                </span>
            </div>

            <div class="tick-list">
                <ul class="list">
                    <li><a href="http://www.djbroadhurst.co.uk/" target="_blank"><i class="fas fa-laptop"></i> DJ Broadhurst Website</a></li>
                    <li><i class="fas fa-headphones" aria-hidden="true"></i> Multi Genre DJ</li>
                    <li><i class="fas fa-music"></i> Favourite Genre: Disco</li>
                    <li><a href="https://www.mixcloud.com/danielbroadhurst/" target="_blank"><i class="fab fa-mixcloud"></i> Mixcloud Mixes</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="card card-small-long" id="dogs">
        <div class="card-header">
            <div>
                <h2>Dog Owner</h2>
                <p>There's nothing better than being out with the dogs on a walk. Elsie who is a Lurcher, Shorty a Long Haired Dachshund cross from Romania and Rex the Miniture Schnauzer are the current crew members.</p>
                <span class="">
                    <i class="fas fa-paw web-circle elsie"></i>
                    <i class="fas fa-paw web-circle shorty"></i>
                    <i class="fas fa-paw web-circle rex"></i>
                </span>
            </div>
        </div>
    </div>
{% endblock %}